/* Principle-1 */
@keyframes principle-1 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Principle-1 */
#principle-1 div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: principle-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Principle-2 */
@keyframes principle-2 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:black; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:pink; left:0px; top:0px;}
}

/* Principle-1 */
#principle-2 div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: principle-2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
