/* --------------------------- Principle-1 ------------------------------ */
@keyframes principle-1 {
  0% {
    left:-400px;
    top:0px;
  }
  40% {left:0px; top:0px;}
  60% {left:0px; top:0px;}
  80% {
    left:0px;
    top:0px;
   }
  100% {left:400px; top:0px;}
}

#principle-1 .parentContainer div {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  animation-duration: 3s;
  animation-name: principle-1;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-2 ------------------------------ */
@keyframes principle-2 {
  0% {
    left:-400px;
    top:0px;
  }
  20% {left:0px; top:0px;}
  50% {left:0px; top:0px;}
  80% {
    left:0px;
    top:0px;
   }
  100% {left:400px; top:0px;}
}

#principle-2 .parentContainer {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#principle-2 .parentContainer div {
  position: relative;
  width: 240px;
  height: 50px;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  animation-duration: 2s;
  animation-name: principle-2;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-2 .parentContainer div:nth-child(3) {
  animation-delay: 200ms;
  animation-name: principle-2;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-3 ------------------------------ */
@keyframes principle-3-parent {
  from {
    transform: scale(1) translateX(-100px);
  }
  to {
    transform: scale(1) translateX(100px);
  }
}

@keyframes principle-3 {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

#principle-3 .parentContainer {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  animation-duration: 1s;
  animation-name: principle-3-parent;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-3 .parentContainer div {
  position: relative;
  width: 205px;
  height: 50px;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
}

#principle-3 .parentContainer div:nth-child(1) {
  animation-name: principle-3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
  transform-origin: bottom center;
  opacity: 0.5;
}

/* --------------------------- Principle-4 ------------------------------ */
@keyframes principle-4 {
  0% {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    transform: scale(0.5);
  }
  20% {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    transform: scale(0.5);
  }
  60% {
    width: 300px;
    height: 100px;
    border-radius: 3px;
    transform: scale(1);
  }
  100% {
    width: 300px;
    height: 100px;
    border-radius: 3px;
    transform: scale(1);
  }
}

#principle-4 .parentContainer div {
  position: relative;
  background-color: white;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: principle-4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-5 ------------------------------ */
@keyframes principle-5 {
  from { top: 140px; }
  to { top: 80px; }
}

#principle-5 .parentContainer div:nth-child(2) {
  position: absolute;
  border-radius: 2px;
  font-size: 60px;
  color: white;
}

#principle-5 .parentContainer div:nth-child(1) {
  width: 40px;
  height: 60px;
  transform-origin: bottom center;
  position: relative;
  background-color: white;
  overflow: hidden;
  animation-duration: 4.62s;
  animation-name: principle-5;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}



/* --------------------------- Principle-6 ------------------------------ */
@keyframes principle-6 {
  0% {
    width: 100px;
    height: 100px;
    transform: scale(0.5);
  }
  20% {
    width: 100px;
    height: 100px;
    transform: scale(0.5);
  }
  60% {
    width: 300px;
    height: 100px;
    transform: scale(1);
  }
  100% {
    width: 300px;
    height: 100px;
    transform: scale(1);
  }
}

#principle-6 .parentContainer div:nth-child(2) {
  position: relative;
  background-color: white;
  border-radius: 3px;
  z-index: 1;
  animation-duration: 1s;
  animation-name: principle-6;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-6 .parentContainer div:nth-child(1) {
  position: relative;
  background-color: black;
  opacity: 0.5;
  width: 300px;
  height: 100px;
  border-radius: 3px;
  position: absolute;
  z-index: 0;
}

/* --------------------------- Principle-7 ------------------------------ */
@keyframes principle-7 {
  0% {
    transform: translate(0px);
  }
  30% {
    transform: translate(0px);
  }
  80% {
    transform: translate(50px);
  }
  100% {
    transform: translate(50px);
  }
}

#principle-7 .parentContainer div:nth-child(2) {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 3px;
  z-index: 1;
  animation-duration: 1.2s;
  animation-name: principle-7;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-7 .parentContainer div:nth-child(1) {
  position: relative;
  background-color: black;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  position: absolute;
  z-index: 0;
}

/* --------------------------- Principle-8 ------------------------------ */
@keyframes principle-8-left {
  0% {
    transform: translate(0px);
  }
  30% {
    transform: translate(0px);
  }
  80% {
    transform: translate(-70px);
  }
  100% {
    transform: translate(-70px);
  }
}

@keyframes principle-8-right {
  0% {
    transform: translate(0px);
  }
  30% {
    transform: translate(0px);
  }
  80% {
    transform: translate(70px);
  }
  100% {
    transform: translate(70px);
  }
}

#principle-8 .parentContainer {
  filter:url('#goo');
}

#principle-8 .parentContainer div:nth-child(2) {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 300px;

  animation-duration: 1.5s;
  animation-name: principle-8-right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#principle-8 .parentContainer div:nth-child(1) {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 300px;

  animation-duration: 1.5s;
  animation-name: principle-8-left;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/* --------------------------- Principle-9 ------------------------------ */
@keyframes principle-9 {
  from {
    transform: translate(-50px);
  }
  to {
    transform: translate(50px);
  }
}

#principle-9 .parentContainer div:nth-child(2) {
  position: relative;
  width: 100px;
  height: 140px;
  background-color: black;
  opacity: 0.8;
  border-radius: 3px;
  z-index: 1;

  animation-duration: 2s;
  animation-name: principle-9;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-9 .parentContainer div:nth-child(1) {
  position: relative;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  position: absolute;
  z-index: 0;
}

/* --------------------------- Principle-10 ------------------------------ */
@keyframes principle-10-first {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes principle-10-second {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes principle-10-third {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

#principle-10 .parentContainer div:nth-child(1) {
  position: relative;
  width: 150px;
  height: 80px;
  background-color: #FFF;
  border-radius: 3px;
  z-index: 2;

  animation-duration: 1s;
  animation-name: principle-10-first;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-10 .parentContainer div:nth-child(2) {
  position: relative;
  background-color: #CCC;
  width: 200px;
  height: 80px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;

  animation-duration: 1s;
  animation-name: principle-10-second;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-10 .parentContainer div:nth-child(3) {
  position: relative;
  background-color: #666;
  width: 250px;
  height: 80px;
  border-radius: 3px;
  position: absolute;
  z-index: 0;

  animation-duration: 1s;
  animation-name: principle-10-third;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-11 ------------------------------ */
@keyframes principle-11 {
  0% { transform: rotateY( 0deg );}
  50% { transform: rotateY( -180deg ); background-color: gray;}
  100% { transform: rotateY( 0deg ); }
}

#principle-11 .parentContainer {
   perspective: 500px;
}

#principle-11 .parentContainer div {
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  transform-style: preserve-3d;

  animation-duration: 1.5s;
  animation-name: principle-11;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-12 ------------------------------ */
@keyframes principle-12 {
  0% {transform: scale(1);}
  30% {transform: scale(1);}
  70% {transform: scale(3.1);}
  100% {transform: scale(3.1);}
}

#principle-12 .parentContainer {
  width: 340px;
  height: 180px;
  overflow: hidden;
}

#principle-12 .parentContainer section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  width: 340px;
  height: 180px;
  overflow: hidden;

  animation-duration: 1.5s;
  animation-name: principle-12;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.87,0,.11,.99);
}

#principle-12 .parentContainer section div {
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  margin: 5px 5px;
}

/* --------------------------- Principle-realtime ------------------------------ */
@keyframes principle-realtime {
  0% {transform: translateX(110px);}
  30% {transform: translateX(110px);}
  100% {transform: translateX(-110px);}
}

@keyframes principle-realtime-cursor {
  0% {transform: translateX(110px) scale(0.6); opacity: 0;}
  30% {transform: translateX(110px) scale(1); opacity: 1;}
  100% {transform: translateX(-110px);}
}

#principle-realtime .parentContainer {
  flex-direction: row;
  flex-wrap: nowrap;
}

#principle-realtime .parentContainer div:not(.cursor) {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 100px;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  margin: 0px 10px;
  animation-duration: 1.5s;
  animation-name: principle-realtime;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-realtime .parentContainer div.cursor {
  left:  52%;
  flex-shrink: 0;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: hidden;
  animation-duration: 1.5s;
  animation-name: principle-realtime-cursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

/* --------------------------- Principle-non-realtime ------------------------------ */
@keyframes principle-nonrealtime {
  0% { transform: translateX(110px);}
  50% { transform: translateX(110px); }
  100% { transform: translateX(110px); background-color: gray: }
}

@keyframes principle-nonrealtime-action {
  0% { transform: rotateY(0deg);}
  50% { transform: rotateY(0deg); }
  100% { transform: rotateY(-180deg); }
}

@keyframes principle-nonrealtime-cursor {
  0% {transform: scale(1); opacity: 0;}
  40% {transform: scale(1); opacity: 0;}
  50% {transform: scale(0.6); opacity: 1;}
  80% {transform: scale(1); opacity: 0;}
  100% {transform: scale(1); opacity: 0;}
}

#principle-nonrealtime .parentContainer {
  flex-direction: row;
  flex-wrap: nowrap;
  perspective: 500px;
}

#principle-nonrealtime .parentContainer div:not(.cursor) {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 100px;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  margin: 0px 10px;
  animation-duration: 1.5s;
  animation-name: principle-nonrealtime;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}

#principle-nonrealtime .parentContainer div:nth-child(3) {
  left: 110px;
  animation-name: principle-nonrealtime-action;
}

#principle-nonrealtime .parentContainer div.cursor {
  left: 40%;
  flex-shrink: 0;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: hidden;
  animation-duration: 1.5s;
  animation-name: principle-nonrealtime-cursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.41,.21,.01,.99);
}
